@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities class */

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }
  .slide-in-from-top {
    animation-name: slidesInFromTop;
  }
  .duration-300 {
    animation-duration: 300ms;
  }
}
@keyframes slidesInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
